.header {
	padding-block: 0.5rem;
	padding-inline-start: 0.5rem;

	border-bottom: none;
}
.main {
	display: flex;
	flex-direction: column;
	align-items: center;

	min-height: 100vh;
	gap: 1rem;
	max-width: var(--mantine-breakpoint-xl);
	margin: var(--mantine-spacing-lg) auto;
	--app-shell-padding: var(--mantine-spacing-lg);
	padding-inline: var(--mantine-spacing-xl);
	overflow-x: hidden;

	p {
		font-size: var(--mantine-font-size-xl);
		white-space: break-spaces;
		align-self: start;
	}
}

.footer {
	display: flex;
	flex-direction: column;
	padding-block: var(--mantine-spacing-xl);
}
