.header {
	padding-block: 0.5rem;
	padding-inline-start: 0.5rem;

	border-bottom: none;
}
.main {
	display: flex;
	flex-direction: column;
	align-items: center;

	min-height: 100vh;

	max-width: 1280px;
	margin: 0 auto;
	--app-shell-padding: 1rem;

	overflow-x: hidden;

	p {
		font-size: var(--mantine-font-size-xl);
		white-space: break-spaces;
		align-self: start;
	}
}
