.grid {
	--grid-align: center;
	padding-block: var(--mantine-spacing-md);
}

.cardWrapper {
	min-width: calc(var(--mantine-breakpoint-xl) / 4);
	margin: auto;
}

.cardImage {
	display: flex;
	justify-content: center;
	padding-top: var(--mantine-spacing-md);
}

.cardContent {
	display: flex;
	flex-direction: column;
	gap: var(--mantine-spacing-md);
	padding-top: var(--mantine-spacing-sm);
	padding-bottom: var(--mantine-spacing-md);
	padding-inline: var(--mantine-spacing-lg);

	a {
		font-weight: 700;
	}
}
